* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 12px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.banner {
    width: 120px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    list-style: none;
    font-size: 17px;
    gap: 35px;
    cursor: pointer;
}

.reg-button {
    background: rgb(3, 124, 245);
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}

.body {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);
}

.body-items {
    margin-top: -30px;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    color: #fff;
}

.body-items h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.body-items p {
    width: 650px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
    color: #e5e7eb;
    margin-bottom: 150px;
}

.sec-reg-button {
    background: rgb(3, 124, 245);
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 750;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}

.speakers {
    padding: 100px 0;
    background: #ffffff;
}

.speaker-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.speaker-heading {
    text-align: center;
    margin-bottom: 60px;
}

.speaker-heading h3 {
    font-size: 42px;
    color: #111827;
    margin-bottom: 15px;
}

.speaker-heading p {
    width: 650px;
    margin: auto;
    color: #9aa0ab;
    line-height: 1.8;
}

.speakers-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.speaker-box {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .08);
}

.speaker-box img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.designation {
    padding: 25px;
    text-align: left;
    color: rgb(68, 68, 234);
}

.designation h4 {
    font-size: 14px;
    margin-bottom: 4px;
}

.designation {
    font-size: 24px;
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
}

.designation {
    margin-top: 4px;
    color: gray;
}

.ticket {
    padding: 100px 0;
    background: #fff;
}

.ticket-container {
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.ticket-heading {
    text-align: center;
    margin-bottom: 60px;
}

.ticket-heading h2 {
    font-size: 48px;
    color: #111827;
    margin-bottom: 10px;
}

.ticket-heading p {
    color: #6b7280;
    font-size: 16px;
}

.ticket-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.first-price-card {
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 15px;
    padding: 40px;
}

.info {
    font-size: 13px;
    font-weight: 600;
    color: #6b7280;
}

.first-price-card h3 {
    font-size: 48px;
    margin: 10px 0;
}

.first-price-card small {
    color: #6b7280;
}

.first-price-card ul {
    margin: 30px 0;
    padding-left: 20px;
}

.first-price-card ul li {
    margin-bottom: 15px;
    color: #374151;
}

.first-price-card a {
    display: block;
    text-align: center;
    padding: 14px;
    border-radius: 8px;
    text-decoration: none;
    border: 2px solid #2563eb;
    color: #2563eb;
    font-weight: 600;
}

.sec-price-card {
    background: #0f1d2d;
    color: white;
    padding: 40px;
    border-radius: 15px;
}

.sec-price-card span {
    color: #4a8dff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}

.sec-price-card h3 {
    font-size: 56px;
    margin: 10px 0 0;
    font-weight: 700;
}

.sec-price-card small {
    display: block;
    color: #9ca3af;
    margin-bottom: 25px;
    font-size: 14px;
}

.sec-price-card ul {
    list-style: disc;
    padding-left: 20px;
    margin: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 25px;
}

.sec-price-card ul li {
    margin-bottom: 18px;
    color: #d1d5db;
    font-size: 15px;
}

.sec-price-card a {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #3567f4;
    color: white;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}
.event-info{
    width: 1200px;
    margin: 100px auto;
    display: flex;
    gap: 40px;
}

.schedule,
.faq{
    flex: 1;
}

.schedule h2,
.faq h2{
    font-size: 42px;
    margin-bottom: 30px;
}

.schedule-card,
.faq-card{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 25px;
}

.schedule-card h3{
    color: #2563eb;
    margin-bottom: 20px;
}

.session{
    display: flex;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.session:last-child{
    border-bottom: none;
}

.session span{
    width: 90px;
    font-weight: bold;
    color: #2563eb;
}

.faq-card h3{
    margin-bottom: 12px;
    color: #111827;
}

.faq-card p{
    color: #555;
    line-height: 1.6;
}
.footer{
    margin-top: 30px;
    background: #111827;
    padding: 40px 0 20px;
}
.footer-container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.footer-up{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-icon{
    display: flex;
    gap: 15px;
}
.footer-icon a{
    width: 45px;
    height: 45px;
    background: #1f2937;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.footer-icon img{
    height: 25px;
    width: 25px;
    object-fit: contain;
}
.footer hr{
    border: none;
    border-top: 1px solid #374151;
    margin: 30px 0 20px;
}
.footer-down{
    text-align: center;
}
.footer-down p{
    color: #9ca3af;
    font-size: 15px;
}