* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 12px;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.banner {
    width: 120px;
    cursor: pointer;
}

.navbar-links {
    display: flex;
    list-style: none;
    font-size: 17px;
    gap: 35px;
    cursor: pointer;
}
.reg-button {
    background: rgb(3, 124, 245);
    color: #fff;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}
.body{
    width: 100%;
    height: 100vh;
    background-image: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .55);
}
.body-items{
    margin-top: -30px;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    color: #fff;
}
.body-items h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}
.body-items p{
    width: 650px;
    margin: auto;
    font-size: 18px;
    line-height: 1.8;
    color: #e5e7eb;
    margin-bottom: 150px;
}
.sec-reg-button{
    background: rgb(3, 124, 245) ;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius:  10px;
    font-size: 25px;
    font-weight: 750;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}
.speakers{
    padding: 100px 0;
    background: #ffffff;
}
.speaker-container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
}
.speaker-heading{
    text-align: center;
    margin-bottom: 60px;
}
.speaker-heading h3{
    font-size: 42px;
    color: #111827;
    margin-bottom: 15px;
} 
.speaker-heading p{
    width: 650px;
    margin: auto;
    color: #9aa0ab;
    line-height: 1.8;
}
.speakers-container{
    width: 80%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.speaker-box{
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
}
